<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83658025458-eql3j12fu9gu6orcd62350aon1p2kqhg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83658025458-eql3j12fu9gu6orcd62350aon1p2kqhg</string>
	<key>API_KEY</key>
	<string>AIzaSyDO6rabXHroXXhmqP3sGBzE2sy10ZysSg0</string>
	<key>GCM_SENDER_ID</key>
	<string>83658025458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseTry</string>
	<key>PROJECT_ID</key>
	<string>fir-try-55b42</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-try-55b42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83658025458:ios:81fd174d94bf3750f4a36b</string>
</dict>
</plist>